#p-fig-0{
<<<<<<< HEAD
    font-size:20px;
=======
    font-size: 20px
>>>>>>> b6aace25f17a821696205c208b4a11cca1eb9c1c
}

p{
    text-align: left;
    width: 1150px;
    font-size: 10px;
    margin-bottom: 125px;
}



h1{
    font-family: 'Libre Baskerville', serif;
}

body{
    font-family: 'Libre Baskerville', serif;
}
#dropdown2{
    font-family: 'Libre Baskerville', serif;}

 #dropdown3{
    font-family: 'Libre Baskerville', serif;}

